# Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [3]:
def Distinct_list (a):
    x = []
    for i in a:
        if i not in x:
            x.append(i)
    return x

l = []
n = int(input('Enter total elements in list '))
for k in range(n):
    b = int(input('Enter Elements '))
    l.append(b)
print('Original List :',l)
print('Distinct List :',Distinct_list(l))

Enter total elements in list 10
Enter Elements 8
Enter Elements 9
Enter Elements 8
Enter Elements 5
Enter Elements 54
Enter Elements 55
Enter Elements 54
Enter Elements 6
Enter Elements 6
Enter Elements 6
Original List : [8, 9, 8, 5, 54, 55, 54, 6, 6, 6]
Distinct List : [8, 9, 5, 54, 55, 6]

# Write a Python program to access a function inside a function.

In [85]:
def func_1 (a):
    def func_2 (b):
        sum = a+b
        return sum
    return func_2

outer_func = func_1(5)
outer_func(16)

21

# Use aloop to display elements from a given list present at odd index positions.

In [262]:
l1 = [5,6,7,8,9,5,32,5,44,84,4,4,45,44,5,44,565,4554,41,13,2020,2,44]
l2 = []
for i in range(len(l1)):
    if (i%2) != 0:
        l2.append(l1[i])
print(l2)

[6, 8, 5, 5, 84, 4, 44, 44, 4554, 13, 2]

#  Write a program to print the following star pattern using the for loop.

In [349]:
n = 5
for i in range(n):
    print('* ' * (i+1))
for i in range(n):
    print('* ' * (n-i-1))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number.

In [363]:
n = int(input('Enter any number = '))
num = 0
for i in range(n+1):
    num = num + i
    
print('Sum of all numbers starting from 1 = ',num)

Enter any number = 9
Sum of all numbers starting from 1 =  45

# Write a program to increase those values in the given Pandas Series by 50 which are less than 70.

In [2]:
import pandas as pd

In [3]:
s = pd.Series([50,60,70,80,101,69],name='Panda Series')
s

0     50
1     60
2     70
3     80
4    101
5     69
Name: Panda Series, dtype: int64

In [4]:
for i in range(len(s)):
    if s[i] < 70:
        s[i] = s[i] + 50

print(s)

0    100
1    110
2     70
3     80
4    101
5    119
Name: Panda Series, dtype: int64