In [1]:
import pandas as pd
import numpy as np

In [2]:
# Q1. How can you create a pandas Series with a scalar value of 30000 for each quarter of the year, 
# labeling each quarter accordingly, using Python?

s = pd.Series(30000,index=['Qtr 1','Qtr 2','Qtr 3','Qtr 4'])
s

Qtr 1    30000
Qtr 2    30000
Qtr 3    30000
Qtr 4    30000
dtype: int64

In [19]:
# Q2. Write a program to create two lists taking input from user and print their sum in another list? 

user_input1 = input("Enter numbers for list 1 (space-separated): ")
user_input2 = input("Enter numbers for list 2 (space-separated): ")

list1 = [float(num) for num in user_input1.split()]
list2 = [float(num) for num in user_input2.split()]

if len(list1) != len(list2):
    print("Error: Lists must be of the same length for summation.")
else:
    sum_result = []
    
    for i in range(len(list1)):
        sum_result.append(list1[i] + list2[i])
    
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Sum: {sum_result}")

Enter numbers for list 1 (space-separated): 5 5
Enter numbers for list 2 (space-separated): 1 1
List 1: [5.0, 5.0]
List 2: [1.0, 1.0]
Sum: [6.0, 6.0]

In [4]:
# Q3. Create a dictionary which represents the weekdays?

week_dict = {1: 'Monday',2: 'Tuesday',3: 'Wednesday',4: 'Thursday',5: 'Friday',6: 'Saturday',
7: 'Sunday'}


print(week_dict)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

In [5]:
# Q4. Create Series which represents weekly temperature in a month and show their average 
# temperature per week in a month in dataframe and also find average temperature of entire month?

temp1 = pd.Series([25, 28, 23, 22, 27])
temp2 = pd.Series([22, 24, 26, 21, 20])
temp3 = pd.Series([27, 29, 30, 28, 25])
temp4 = pd.Series([23, 24, 26, 25, 22])

temperature_df = pd.DataFrame({
    'Week1': temp1,
    'Week2': temp2,
    'Week3': temp3,
    'Week4': temp4
})

average_per_week = temperature_df.mean()
print("Average temperature per week:")
print(average_per_week)

average_of_month = temperature_df.values.mean()
print("\nAverage temperature of the entire month:", average_of_month)

Average temperature per week:
Week1    25.0
Week2    22.6
Week3    27.8
Week4    24.0
dtype: float64

Average temperature of the entire month: 24.85

In [6]:
# Q5. Create a DataFrame by using dictionary of list? 

data = {
    'Name': ['John', 'Alice', 'Bob', 'Charlie', 'David'],
    'Zone': ['North', 'South', 'East', 'West', 'Central'],
    'Sale': [15000, 20000, 18000, 22000, 19000]
}

salesman_df = pd.DataFrame(data)

salesman_df

      Name     Zone   Sale
0     John    North  15000
1    Alice    South  20000
2      Bob     East  18000
3  Charlie     West  22000
4    David  Central  19000

In [7]:
# Q6. Create a Series having table of 5 by using for loop?

t = []

for i in range(1, 11):
    t.append(5 * i)

table_of_5 = pd.Series(t)
print(table_of_5)

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
9    50
dtype: int64

In [8]:
# Q7. Create any DataFrame and save it in a csv format and export it.


product_data = {
    'ProductID': [101, 102, 103, 104, 105],
    'ProductName': ['Laptop', 'Phone', 'Tablet', 'Camera', 'Headphones'],
    'Price': [1200, 800, 300, 500, 100]
}

product_df = pd.DataFrame(product_data)

print("Product Information DataFrame:")
print(product_df)

csv_filename = 'product_information.csv'
product_df.to_csv(csv_filename )

Product Information DataFrame:
   ProductID ProductName  Price
0        101      Laptop   1200
1        102       Phone    800
2        103      Tablet    300
3        104      Camera    500
4        105  Headphones    100